* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

/* Header */
.header {
  background: #1976D2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 105px;
}

.header h1 {
  font-size: 35px;
  text-align: center;
  margin: 0;
}

.material-symbols-outlined {
  position: absolute;
  left: 20px;
  font-size: 28px;
  color: white;
  background: rgba(40, 4, 138, 0.795);
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

/* Car Image */
.car-section {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

/* Booking Section */
.booking-section {
  background: white;
  padding: 20px;
  margin: 0 15px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.booking-section h2 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #333;
}

.booking-section label {
  display: block;
  margin-top: 20px;
  font-size: 20px;
  color: #555;
}

.input-box {
  display: flex;
  align-items: center;
  background: #E9EEF4;
  border-radius: 10px;
  padding: 12px 16px;
  margin-top: 6px;
}

.input-box .icon {
  margin-right: 10px;
  font-size: 18px;
  color: #555;
}

.input-box input {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  flex: 1;
}

/* Range slider */
input[type=range] {
  width: 100%;
  margin: 10px 0;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #777;
}

.slot-box {
  background: #1976D2;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px;
  width: 80px;
  padding: 8px 0;
  margin: 10px 0;
}

p {
  font-size: 20px;
  color: #555;
}

.price {
  font-size: 30px;
  font-weight: 600;
  color: #1976D2;
  margin-bottom: 20px;
}

.pay-btn {
  background: #1976D2;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 19px;
  font-size: 27px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.pay-btn:hover {
  background: #5b8dc9;
}

/* Car moving animation */

.car-img {
  width: 350px;
  position: relative;
  animation: carEntry 3s ease-out forwards;
}

@keyframes carEntry {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}